<html>

<head>
    <title>homepage</title>
</head>

<body>

    {% for i in pro %}
        <h1>Project {{i.id}}</h1>

        <p>
            Project Name = {{i.name}}
        </p>
        <p>
            Description = {{i.desc}}
        </p>
        <h2>Project Issues</h2>
        {% for j in iss %}
            {% if j.project_id == i.id%}
                <p>
                    Issue Title = {{j.title}}
                </p>
                <p>
                    Description = {{j.desc}}
                </p>
                <p>
                    Is Open?
                    {% if j.is_open %}
                    YESS
                    {% else %}
                    NOPE
                    {% endif %}
                </p>
                <p>
                    {% for k in j.tags.all %}
                    Tags:
                    {{ k }}
                    {% endfor %}
                </p>
            {% endif %}
        {% endfor %}
        <!-- {% if not flag %}
            <p>Nothing to display</p>
        {% endif %} -->

    {% endfor %}

</body>

</html>