{% for i in employees %}
    <p>
        User:-----------------------------
        <ul>
            <li> 
                {{i.user.first_name}} 
            </li>
            <li> 
                {{i.user.email}} 
            </li>
            <li>
                {{i.role}}
            </li>
            <li>
                {{i.user.password}}
            </li>
            <li>
                {{i.user.groups}}
            </li>
            <li>
                {{i.user.user_permissions}}
            </li>
            <li> 
                {{i.user.last_login}} 
            </li>
            <li> 
                {{i.user.date_joined}} 
            </li>
            
        </ul>
        
    </p>
    
{% endfor %}