Hello {{user.username}}
<br>
You are 
{% for i in group%}
{{i}}
{% endfor %}
<p>This button is enabled only for the admin</p>
{% if 'Admin' in group %}
<input type="button" name="upload" class="btn btn-primary" value="Admin" onclick="location.href = 'main:adminpage'"/>
{% else %}
<input type="button" name="upload" class="btn btn-primary" value="Admin" disabled/>
{% endif %}
<p>While this button is enabled for anybody</p>
<input type="button" name="upload" class="btn btn-primary" value="Anybody" onclick = "location.href = 'main:anypage'"/>