{% load static from static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <style>
    .topnav {
      overflow: hidden;
      background-color: #e9f173;
    }

    .topnav a {
      float: left;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }

    .topnav a.active {
      background-color: #35c1f8;
      color: white;
    }
  </style>



</head>


<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="topnav">
    <a class="active" href="{% url 'main:issues' %}">Home</a>
    <a href="{% url 'main:add_issues' %}">New Issue</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>




    <div class="site-section">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <div class="side-box mb-5">
              <h3>All Projects</h3>
              {% for i in projects.all %}
              <ul class="list-unstyled auction-categories">
                <li><a href="#">Name : <span>{{i.name}}</span></a></li>
              </ul>
              {% endfor %}
            </div>
            <div class="side-box">
              <h3>Core Project Members</h3>
            </div>
            <ul class="list-unstyled bidders">
              {% for i in users.all %}
              {% if i.username != "admin" %}
              <li class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center">
                    <span>{{i.first_name}} {{i.last_name}}</span>
                  </div>
                </div>
                <span class="price">({{i.groups.first}})</span>
              </li>
              {% endif %}
              {% endfor %}

            </ul>
          </div>
          <div class="col-md-9">
            <div class="row auctions-entry">


              {% for i in pro_mem.all %}
              {% if user.id == i.user.id %}
              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="{% url 'main:issue' i.project.id %}"><img src="static/images/images.png" alt="Image"
                        class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Name : {{i.project.name}}</a></h3>
                    <div class="d-flex mb-2">
                      <span>Managed By : {{i.project.project_manager.first_name}}
                        {{i.project.project_manager.last_name}}</span>
                    </div>
                    <span>Issues Open : {{i.project.issues_open}} </span>
                  </div>

                </div>
              </div>
              {% endif %}
              {% endfor %}

              {% if user.username == "admin" %}
              {% for i in projects.all %}
              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="{% url 'main:issue' i.id %}"><img src="static/images/images.png" alt="Image"
                        class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Name : {{i.name}}</a></h3>
                    <div class="d-flex mb-2">
                      <span>Managed By : {{i.project_manager.first_name}}
                        {{i.project_manager.last_name}}</span>
                    </div>
                    <span>Issues Open : {{i.issues_open}} </span>
                  </div>

                </div>
              </div>
              {% endfor %}
              {% endif %}

            </div>
          </div>
        </div>
      </div>

      <div class="pb-5">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg">
              <div class="custom-pagination">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
              </div>
            </div>
          </div>
        </div>

      </div>






    </div>
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
          stroke="#51be78" /></svg></div>

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.stellar.min.js"></script>
    <script src="static/js/jquery.countdown.min.js"></script>
    <script src="static/js/bootstrap-datepicker.min.js"></script>
    <script src="static/js/jquery.easing.1.3.js"></script>
    <script src="static/js/aos.js"></script>
    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/jquery.mb.YTPlayer.min.js"></script>




    <script src="static/js/main.js"></script>

</body>

</html>