<!DOCTYPE html>
<html lang="en">

<head>
  <title>Projects</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/jquery-ui.css">
  <link rel="stylesheet" href="static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="static/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="static/css/aos.css">
  <link href="static/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="static/css/style.css">



</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>




    <div class="site-section">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <div class="side-box mb-5">
              <h3>Categories</h3>
              <ul class="list-unstyled auction-categories">
                <li><a href="#">Shoes <span>2109</span></a></li>
                <li><a href="#">Electronics <span>102</span></a></li>
                <li><a href="#">Clothing <span>392</span></a></li>
                <li><a href="#">Watches <span>291</span></a></li>
                <li><a href="#">Accessories <span>391</span></a></li>
              </ul>
            </div>
            <div class="side-box">
              <h3>Recent Bidders</h3>
              <ul class="list-unstyled bidders">
                <li class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <span class="mr-2">1.</span>
                    <div class="d-flex align-items-center">
                      <span>Jean Smith</span>
                    </div>
                  </div>
                  <span class="price">$40</span>
                </li>

                <li class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <span class="mr-2">2.</span>
                    <div class="d-flex align-items-center">
                      <span>Chris Wilson</span>
                    </div>
                  </div>
                  <span class="price">$87</span>
                </li>


                <li class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <span class="mr-2">3.</span>
                    <div class="d-flex align-items-center">
                      <span>Kyle Anderson</span>
                    </div>
                  </div>
                  <span class="price">$310</span>
                </li>

                <li class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <span class="mr-2">1.</span>
                    <div class="d-flex align-items-center">
                      <span>Jean Smith</span>
                    </div>
                  </div>
                  <span class="price">$40</span>
                </li>

                <li class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <span class="mr-2">2.</span>
                    <div class="d-flex align-items-center">
                      <span>Chris Wilson</span>
                    </div>
                  </div>
                  <span class="price">$87</span>
                </li>


                <li class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <span class="mr-2">3.</span>
                    <div class="d-flex align-items-center">
                      <span>Kyle Anderson</span>
                    </div>
                  </div>
                  <span class="price">$310</span>
                </li>

              </ul>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row auctions-entry">


              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="item-single.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Project Name</a></h3>
                    <div class="d-flex mb-2">
                      <span>Pro Man name</span>
                      <span class="ml-auto">No. of issues</span>
                    </div>
                    <a href="item-single.html" class="btn btn-bid">Open Issues</a>
                  </div>

                </div>
              </div>

              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="item-single.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Project Name</a></h3>
                    <div class="d-flex mb-2">
                      <span>Pro Man name</span>
                      <span class="ml-auto">No. of issues</span>
                    </div>
                    <a href="item-single.html" class="btn btn-bid">Open Issues</a>
                  </div>

                </div>
              </div>

              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="item-single.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Project Name</a></h3>
                    <div class="d-flex mb-2">
                      <span>Pro Man name</span>
                      <span class="ml-auto">No. of issues</span>
                    </div>
                    <a href="item-single.html" class="btn btn-bid">Open Issues</a>
                  </div>

                </div>
              </div>

              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="item-single.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Project Name</a></h3>
                    <div class="d-flex mb-2">
                      <span>Pro Man name</span>
                      <span class="ml-auto">No. of issues</span>
                    </div>
                    <a href="item-single.html" class="btn btn-bid">Open Issues</a>
                  </div>

                </div>
              </div>

              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="item-single.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Project Name</a></h3>
                    <div class="d-flex mb-2">
                      <span>Pro Man name</span>
                      <span class="ml-auto">No. of issues</span>
                    </div>
                    <a href="item-single.html" class="btn btn-bid">Open Issues</a>
                  </div>

                </div>
              </div>

              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="item-single.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Project Name</a></h3>
                    <div class="d-flex mb-2">
                      <span>Pro Man name</span>
                      <span class="ml-auto">No. of issues</span>
                    </div>
                    <a href="item-single.html" class="btn btn-bid">Open Issues</a>
                  </div>

                </div>
              </div>

              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="item-single.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Project Name</a></h3>
                    <div class="d-flex mb-2">
                      <span>Pro Man name</span>
                      <span class="ml-auto">No. of issues</span>
                    </div>
                    <a href="item-single.html" class="btn btn-bid">Open Issues</a>
                  </div>

                </div>
              </div>

              <div class="col-6 col-md-4 col-lg-4">
                <div class="item">
                  <div>
                    <a href="item-single.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="item-single.html">Project Name</a></h3>
                    <div class="d-flex mb-2">
                      <span>Pro Man name</span>
                      <span class="ml-auto">No. of issues</span>
                    </div>
                    <a href="item-single.html" class="btn btn-bid">Open Issues</a>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="pb-5">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg">
              <div class="custom-pagination">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      

      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <p class="mb-4"><b><b><b>BugTracker</b></b></b></p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae nemo minima qui dolor, iusto iure.</p>
              <p><a href="#">Learn More</a></p>
            </div>
            <div class="col-lg-3">
              <h3 class="footer-heading"><span>Solutions</span></h3>
              <ul class="list-unstyled">
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Buy</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Submit a bid</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h3 class="footer-heading"><span>Services</span></h3>
              <ul class="list-unstyled">
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Buy</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Submit a bid</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h3 class="footer-heading"><span>Contact</span></h3>
              <ul class="list-unstyled">
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Support Community</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Share Your Story</a></li>
                <li><a href="#">Our Supporters</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
          stroke="#51be78" /></svg></div>

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.stellar.min.js"></script>
    <script src="static/js/jquery.countdown.min.js"></script>
    <script src="static/js/bootstrap-datepicker.min.js"></script>
    <script src="static/js/jquery.easing.1.3.js"></script>
    <script src="static/js/aos.js"></script>
    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/jquery.mb.YTPlayer.min.js"></script>




    <script src="static/js/main.js"></script>

</body>

</html>